* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* 适用于 Chrome 和 Safari */
    -moz-user-select: none; /* 适用于 Firefox */
    -ms-user-select: none; /* 适用于 IE */
    user-select: none; /* 标准写法 */
}

/* 整个滚动条 */
::-webkit-scrollbar {
    width: 7px; /* 设置滚动条宽度 */
  }
  
  /* 滚动条轨道 */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* 设置轨道背景色 */
  }
  
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: #888; /* 设置滑块颜色 */
    border-radius: 5px; /* 设置圆角 */
  }
  
  /* 滚动条滑块在悬停时 */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.初始界面 {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.logo {
    background-image: url(assets/图片/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 50vw;

}

.弹窗 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.弹窗_box {
    position: relative;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    background: linear-gradient(90deg, rgb(32, 32, 32), rgb(41, 41, 41));
    border-radius: 15px
}

.弹窗_text {
    font-size: 3vmax;
    text-align: center;
    max-width: 48vw;
    color: rgb(255, 255, 255);
    position: relative;
    top: -2vh;
    padding: 1vh 2vw;
    background-color: rgb(100, 100, 100);
    border-radius: 50px;
    border: solid 2px rgb(0, 0, 0);
}

.弹窗_关闭 {
    position: absolute;
    bottom: 5vh;
    font-size: 1.5vmax;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    border: none;
    padding: 1vh 2vw;
    transition: all 0.2s;
    border: solid 2px rgb(48, 48, 48);
}

.弹窗_关闭:hover {
    background-color: rgb(177, 177, 177);
    color: rgb(0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
}

.开局选项 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.过场动画 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 100;
}

.过场动画_黑柱 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.过场动画_文字 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#过场动画_文字_h1 {
    font-size: 7vmax;
    text-align: center;
    color: white;
    opacity: 0;
    animation: 
        rotate-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both,
        fade-out 0.7s ease-in forwards;
    animation-delay: 0.5s, 2s; /* 第一个动画延迟 1.2s，第二个延迟 3s */
}

@keyframes rotate-in-center {
    0% {
        transform: rotate(-360deg) scale(0.1);
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

  

.过场动画_黑柱 div {
    flex: 1;
    background-color: black;
    opacity: 0;
}
.过场动画_1 {
    animation: moveUp 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards, moveUp2 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards; 
    animation-delay: 0s, 3s;
}
.过场动画_2 {
    animation: moveUp 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards, moveUp2 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards; 
    animation-delay: 0.05s, 3.05s;
}
.过场动画_3 {
    animation: moveUp 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards, moveUp2 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards; 
    animation-delay: 0.1s, 3.1s;
}

@keyframes moveUp {
    from {
        transform: translateY(100vh); /* 从 100px 位置开始 */
        opacity: 1; /* 可选，让元素淡入 */
    }
    to {
        transform: translateY(0); /* 回到初始位置 */
        opacity: 1;
    }
}

@keyframes moveUp2 {
    from {
        transform: translateY(0); /* 从 100px 位置开始 */
        opacity: 1; /* 可选，让元素淡入 */
    }
    to {
        transform: translateY(-100vh); /* 回到初始位置 */
        opacity: 1;
    }
}

.初始界面_标题 {
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.初始界面_h1 {
    font-size: 5vmax;
    text-align: center;

}

.初始界面_h2 {
    font-size: 1.8vmax;
    text-align: center;
}


.初始界面_按钮 {
    position: absolute;
    bottom: -10vh;
    left: 50vw;
    height: 40vh;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.初始界面_按钮 button {
    font-size: 2vmax;
    padding: 1vh 2vw;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(26, 26, 26);
    transition: all 0.2s;
}

.初始界面_按钮 button:hover {
    background-color: rgb(66, 66, 66);

}

.开局选项_标题 {
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.开局选项_h1 {
    font-size: 5vmax;
    text-align: center;
}

.开局选项_选项 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    position: relative;
    top: -5vh;
}

.开局选项_选项_其他选项 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    justify-content: space-evenly;
}

.开局选项_选项_名字输入框 {
    font-size: 2vmin;
    padding: 1vh 2vw;
    border-radius: 10px;
    border: solid 2px rgb(26, 26, 26);
    width: 30vw;
    text-align: center;
}

.开局选项_选项_性别选择框, .开局选项_选项_难度选择框 {
    font-size: 2vmin;
    padding: 1vh 0.5vw;
    border-radius: 10px;
    border: solid 2px rgb(26, 26, 26);
    width: 6vw;
    text-align: center;
}

.开局选项_按钮 {
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    width: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.开局选项_按钮 button {
    font-size: 2vmax;
    padding: 1vh 2vw;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(26, 26, 26);
    transition: all 0.2s;
}

.开局选项_按钮 button:hover {
    background-color: rgb(66, 66, 66);

}


.游戏界面 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;

}

.游戏界面_信息, .游戏界面_事件, .游戏界面_按钮 {
    flex: 1;
    width: 100vw;
}

.游戏界面_信息_本次模拟信息 {
    position: fixed;
    height: 30vh;
    width: 10vw;
    top: -20vh;
    left: 10vw;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border: solid 3px rgb(0, 0, 0);
    border-top: none;
    border-radius: 0 0 20px 20px;
    transition: all 0.3s;
    font-size: 1.5vmax;
}

.游戏界面_信息_本次模拟信息 div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#游戏界面_信息_本次模拟信息_性别 {
    background-color: rgb(217, 217, 217);
}

.游戏界面_信息_本次模拟信息:hover {
    top: 0;
}

.游戏界面_信息_信息栏 {
    position: fixed;
    width: 60vw;
    height: 30vh;
    top: -20vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border: solid 3px rgb(0, 0, 0);
    border-top: none;
    border-radius: 0 0 20px 20px;
    transition: all 0.3s;
}

.游戏界面_信息_信息栏:hover {
    top: 0;
}

.游戏界面_信息_游戏内设置 {
    position: fixed;
    width: 12vw;
    height: 8vh;
    top: 1vh;
    right: 10vw;
    transform: translate(50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1vh 2vw;
    font-size: 2vmax;
    transition: all 0.2s;
    text-shadow: none;

}

.游戏界面_信息_游戏内设置:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}

.游戏界面_信息_信息栏_次要属性, .游戏界面_信息_信息栏_主要属性 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 1.5vmax;
    color: rgb(0, 0, 0);
}

.游戏界面_信息_信息栏_次要属性 div, .游戏界面_信息_信息栏_主要属性 div {
    flex: 1;
    text-align: center;
}

.游戏界面_信息_信息栏_次要属性.游戏界面_信息_信息栏_次要属性_二 {
    background-color: rgb(217, 217, 217);
}

.游戏界面_按钮_按钮栏 {
    position: fixed;
    width: 60vw;
    height: 15vh;
    bottom: 0vh;
    left: 50vw;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(243, 243, 243);
    border: solid 3px rgb(0, 0, 0);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding: 1vh 2vw;
}

.游戏界面_按钮_按钮栏 button {
    font-size: 2vmax;
    padding: 1vh 3vw;
    border-radius: 10px;
    background-color: white;
    border: solid 2px black;
}

.游戏界面_按钮_按钮栏 button:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}

.游戏界面_按钮_回合 {
    position: fixed;
    height: 30vh;
    width: 10vw;
    bottom: -20vh;
    left: 10vw;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border: solid 3px rgb(0, 0, 0);
    border-bottom: none;
    border-radius:20px 20px 0 0;
    transition: all 0.3s;
    font-size: 2.5vmax;
}

.游戏界面_按钮_回合:hover {
    bottom: 0;
}

.游戏界面_按钮_回合 div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.游戏界面_按钮_回合_按钮 {
    width: 8vw;
    height: 7vh;
    padding: 1vh 1vw;
    font-size: 1.2vmax;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    transition: all 0.2s;
}

.游戏界面_按钮_回合_按钮:hover {
    background-color: rgb(214, 0, 0);
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

#游戏界面_按钮_回合_数字 {
    background-color: rgb(217, 217, 217);
}

.游戏界面_按钮_回合_结束_结束按钮 {
    position: fixed;
    width: 12vw;
    height: 10vh;
    bottom: 2.5vh;
    right: 10vw;
    transform: translate(50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1vh 1vw;
    font-size: 1.5vmax;
    transition: all 0.2s;
}

.游戏界面_按钮_回合_结束_结束按钮:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}

.游戏界面_事件 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.游戏界面_事件_事件结算 {
    position: fixed;
    width: 60vw;
    height: 40vh;
    left: 20vw;
    display: none;
    flex-direction: row;
    animation: 透明入场 0.7s ease-out forwards;
    overflow: hidden;
}


.游戏界面_事件_事件结算_图片 {
    flex: 1;
    border: solid 2px black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.游戏界面_事件_事件结算_事件 {
    flex: 2;
    border: solid 2px black;
    border-radius: 0 15px 15px 0;
    border-left: none;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: 从左侧入场 1.5s ease-in-out forwards;
    animation-delay: 0.7s;
}

.游戏界面_事件_事件结算_事件_标题 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    font-size: 2vmax;
}

.游戏界面_事件_事件结算_事件_内容 {
    flex: 3;
    border-top: solid 2px black;
    padding: 1vh 1vw;
    font-size: 1vmax;
}

.游戏界面_事件_事件结算_事件_结果 {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
    font-size: 1.3vmax;
    word-spacing: 10px;
    font-weight: bold; /* 设置为粗体 */
}

@keyframes  透明入场 {
    from {
        transform: translateY(100px); /* 从 100px 位置开始 */
        opacity: 0; /* 可选，让元素淡入 */
    }
    to {
        transform: translateY(0); /* 回到初始位置 */
        opacity: 1;
    }
}

@keyframes  从左侧入场 {
    0% {
        transform: translateX(-40vw); /* 从 100px 位置开始 */
        opacity: 1; /* 可选，让元素淡入 */
    }
    100% {
        transform: translateX(0); /* 回到初始位置 */
        opacity: 1;
    }
}

.设置界面 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.设置界面_box {
    position: relative;
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 20px 0 20px 20px;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.设置界面_box_按钮 {
    position: absolute;
    top: -6vh;
    right: -5px;
    width: 6vw;
    height: 6vh;
    border: solid 5px rgb(0, 0, 0);
    background-color: white;
    font-size: 2vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

.设置界面_box_按钮:hover {
    background-color: red;
    color: rgb(255, 255, 255);

}

.设置界面_box_上半部分 {
    flex: 1;
    border-bottom: solid 2px rgb(143, 143, 143);
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.设置界面_box_上半部分_标题 {
    font-size: 3vmax;
}

.设置界面_box_下半部分 {
    flex: 4;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    padding-top: 5vh;
}

.设置界面_box_下半部分_选项 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    margin-top: 5vh;
    font-size: 1.5vmax;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1vh 2vw;
}

.设置界面_box_下半部分_选项 select {
    font-size: 1.5vmax;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.6vh 0.8vw;
    text-align: center;

}

.设置界面_box_保存 {
    position: relative;
    flex: 1;
    border-top: solid 2px black;
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2vmax;
    padding: 1vh 10vw;
}

.设置界面_box_保存_反馈 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vmax;
    display: none;
    color: rgb(0, 224, 0);
    text-shadow: 1px 1px 0 rgb(0, 61, 0), 1px -1px 0 rgb(0, 61, 0), -1px 1px 0 rgb(0, 61, 0), -1px -1px 0 rgb(0, 61, 0);
}

.设置界面_box_保存_按钮 {
    font-size: 2vmax;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1vh 2vw;
    background-color: white;
    color: black;
    transition: all 0.2s;
}

.设置界面_box_保存_按钮:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(255, 255, 255);

}

.游戏界面_词条窗口, .游戏界面_策略窗口 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);

}

.游戏界面_词条窗口_box, .游戏界面_策略窗口_box {
    position: absolute;
    width: 50vw;
    height: 65vh;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border: solid 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.游戏界面_词条窗口_box_上半部分, .游戏界面_策略窗口_box_上半部分 {
    height: 5vh;
    width: 50vw;
    background-color: #888;
    border-bottom: solid 3px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0vw;
    overflow: hidden;
}

.游戏界面_词条窗口_box_下半部分, .游戏界面_策略窗口_box_下半部分 {
    height: 60vh;
    width: 50vw;
}

.游戏界面_词条窗口_box_上半部分_标题, .游戏界面_策略窗口_box_上半部分_标题 {
    font-size: 1.8vmax;
    color: white;
    position: relative;
    left: 2vw;
}

.游戏界面_词条窗口_box_上半部分_关闭, .游戏界面_策略窗口_box_上半部分_关闭 {
    border: none;
    background-color: #888;
    color: white;
    font-size: 1.2vmax;
    transition: all 0.2s;
    padding: 1vh 1vw;
}

.游戏界面_词条窗口_box_上半部分_关闭:hover, .游戏界面_策略窗口_box_上半部分_关闭:hover {
    background-color: red;
}

.游戏界面_词条窗口_box_下半部分_词条 {
    height: 40vh;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    gap: 1.2vw;
    padding: 3vh 2vw;
    flex-wrap: wrap;
}

.游戏界面_词条窗口_box_下半部分_词条_名称 {
    width: 8vw;
    flex-basis: 8vw;
    height: 6vh;
    border-radius: 10px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vmax;
}

.游戏界面_词条窗口_box_下半部分_词条_名称:hover {
    background-color: rgb(217, 217, 217);
}

.游戏界面_词条窗口_box_下半部分_描述 {
    border-top: solid 2px black;
    height: 20vh;
    padding: 1vh 2vw;
    font-size: 1.3vmax;
    
}

.游戏界面_策略窗口_box_下半部分_策略 {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.游戏界面_策略窗口_box_下半部分_策略效果 {
    border-top: solid 2px black;
    height: 20vh;
    width: 50vw;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 2vmax;
    padding: 0vh 2vw;
    text-align: center;
    line-height: 2;
}

.游戏界面_策略窗口_box_下半部分_策略_健康策略区块, .游戏界面_策略窗口_box_下半部分_策略_娱乐策略区块 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    height: 10vh;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1vh 2vw;
    font-size: 1.5vmax;
}

.游戏界面_策略窗口_box_下半部分_策略_健康策略区块_交互 , .游戏界面_策略窗口_box_下半部分_策略_娱乐策略区块_交互 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 15vw;
}

.策略加减按钮_数字 {
    width: 3vw;
    height: 5vh;
    font-size: 1.2vmax;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.策略加减按钮 {
    border: none;
    font-size: 2vmax;
    background-color: white;
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    transition: all 0.2s;
}

.策略加减按钮:hover {
    background-color: rgb(217, 217, 217);

}